In [1]:
# Import all libraries needed for the tutorial
import pandas as pd
import pymysql
from pandas.io import sql
from pandas.io.sql import read_sql, to_sql
from sqlalchemy import create_engine, Table, Column, Integer, String, MetaData, ForeignKey

#pd.set_option('display.mpl_style', 'default') 
pd.set_option('display.width', 5000) 
pd.set_option('display.max_columns', 60)
pd.set_option('display.max_rows', 60)

print('is loaded')

is loaded

In [2]:
base = pd.read_csv('rc15csv/rc2015sch.csv', index_col=None)
base.head(3)

               schid14              schid15                schid                                              value                               facilityname Selective            districtNAME           distID        distIDalt county districtTYPE            schoolTYPE GradesServed Administrator                 Address     City state        Zip telephone   LATITUDE  LONGITUDE Note me2006schoolISAT me2006districtISAT me2006stateISAT me2007schoolISAT me2007districtISAT me2007stateISAT me2008schoolISAT me2008districtISAT     ...     stdvhs2012 lowinc2013 percmin2013 enroll2013 enrolldist2013 grades2013 zelemscore2013 avgelem2013 stdvelem2013 zhsscore2013 avghs2013 stdvhs2013 lowinc2014 percmin2014 enroll2014 enrolldist2014                       grades2014 zelemscore2014 avgelem2014 stdvelem2014 zhsscore2014 avghs2014 stdvhs2014 enroll2015 enrolldist2015 lowinc2015 act2015school actscore2015district actscore2015state percmin2015
0               400172   15016299025-400172   15016299025-400172            Aspira - Business & Finance HS, Chicago             Aspira - Business & Finance HS         *  City of Chicago SD 299  150162990250000  150162990250000   Cook         UNIT  CHARTER NET HIGH SCH         9-12            --  2989 N. Milwaukee Ave.  Chicago    IL  60618-734        --  41.935788 -87.717934   --               --               61.6              77               --               63.9            78.7               --               65.2     ...             --         --          --         --             --         --             --          --           --           --        --         --         --          --         --             --                               --             --          --           --           --        --         --         --             --         --            --                   --                --          --
1  15016299025003CAJ01  15016299025003CAJ01  15016299025003CAJ01                  Perspectives Chtr Joslin, Chicago                   Perspectives Chtr Joslin         *  City of Chicago SD 299  150162990250000  150162990250000   Cook         UNIT  CHARTER NET HIGH SCH         6-12            --       1930 S Archer Ave  Chicago    IL      60616        --  41.855976 -87.628511   --             68.1               61.6              77             70.6               63.9            78.7             72.8               65.2     ...          12.83       89.3        97.3        366         395071         --           0.58        42.9        11.01         1.39        21      12.71       91.2        97.7        385         395079  3rd thru 8th Grade - 11th Grade           0.09          39        12.48         1.47      21.8      15.33         --             --         --            --                   --                --          --
2  15016299025003CAJ02  15016299025003CAJ02  15016299025003CAJ02  Perspectives Charter - Leadership Academy, Chi...  Perspectives Charter - Leadership Academy         *  City of Chicago SD 299  150162990250000  150162990250000   Cook         UNIT  CHARTER NET HIGH SCH         6-12            --           8131 S May St  Chicago    IL      60620        --  41.745935 -87.652328   --               --               61.6              77             57.6               63.9            78.7               --               65.2     ...          12.83       95.1         100        808         395071         --           0.51        38.1        11.79        -0.44        21      12.71       94.2        99.9        754         395079  3rd thru 8th Grade - 11th Grade           0.33          39        12.48        -0.21      21.8      15.33         --             --         --            --                   --                --          --

[3 rows x 221 columns]

In [3]:
base.shape

(4094, 221)

In [4]:
#with sqlalchemy, create the engine
con = create_engine('mysql+pymysql://root:root@localhost:8889/School Report Cards', echo=False)
print('connected')

connected

In [5]:
metadata = MetaData()
rc2015sch = Table('rc2015sch', metadata,
    Column('schid14', String(20)),
    Column('schid15', String(20)),
    Column('schid', String(20), primary_key=True),
    Column('value', String(100)),
    Column('facilityname', String(85)),
    Column('selective', String(2)),
    Column('districtname', String(40)),
    Column('distid', String(15)),
    Column('distidalt', String(15)),
    Column('county', String(20)),
    Column('districttype', String(15)),
    Column('schooltype', String(20)),
    Column('gradesserved', String(20)),
    Column('administrator', String(35)),
    Column('address', String(35)),
    Column('city', String(35)),
    Column('state', String(2)),
    Column('zip', String(10)),
    Column('telephone', String(12)),
    Column('latitude', String(20)),
    Column('longitude', String(20)),
    Column('note', String(150)),
    Column('me2006schoolisat', String(5)),
    Column('me2006districtisat', String(5)),
    Column('me2006stateisat', String(5)),
    Column('me2007schoolisat', String(5)),
    Column('me2007districtisat', String(5)),
    Column('me2007stateisat', String(5)),
    Column('me2008schoolisat', String(5)),
    Column('me2008districtisat', String(5)),
    Column('me2008stateisat', String(5)),
    Column('me2009schoolisat', String(5)),
    Column('me2009districtisat', String(5)),
    Column('me2009stateisat', String(5)),
    Column('me2010schoolisat', String(5)),
    Column('me2010districtisat', String(5)),
    Column('me2010stateisat', String(5)),
    Column('me2011schoolisat', String(5)),
    Column('me2011districtisat', String(5)),
    Column('me2011stateisat', String(5)),
    Column('me2012schoolisat', String(5)),
    Column('me2012districtisat', String(5)),
    Column('me2012stateisat', String(5)),
    Column('me2013schoolisat', String(5)),
    Column('me2013districtisat', String(5)),
    Column('me2013stateisat', String(5)),
    Column('me2014schoolisat', String(5)),
    Column('me2014districtisat', String(5)),
    Column('me2014stateisat', String(5)),
    Column('me2006schoolpsae', String(5)),
    Column('me2006districtpsae', String(5)),
    Column('me2006statepsae', String(5)),
    Column('me2007schoolpsae', String(5)),
    Column('me2007districtpsae', String(5)),
    Column('me2007statepsae', String(5)),
    Column('me2008schoolpsae', String(5)),
    Column('me2008districtpsae', String(5)),
    Column('me2008statepsae', String(5)),
    Column('me2009schoolpsae', String(5)),
    Column('me2009districtpsae', String(5)),
    Column('me2009statepsae', String(5)),
    Column('me2010schoolpsae', String(5)),
    Column('me2010districtpsae', String(5)),
    Column('me2010statepsae', String(5)),
    Column('me2011schoolpsae', String(5)),
    Column('me2011districtpsae', String(5)),
    Column('me2011statepsae', String(5)),
    Column('me2012schoolpsae', String(5)),
    Column('me2012districtpsae', String(5)),
    Column('me2012statepsae', String(5)),
    Column('me2013schoolpsae', String(5)),
    Column('me2013districtpsae', String(5)),
    Column('me2013statepsae', String(5)),
    Column('me2014schoolpsae', String(5)),
    Column('me2014districtpsae', String(5)),
    Column('me2014statepsae', String(5)),
    Column('act2006school', String(4)),
    Column('act2006district', String(4)),
    Column('act2006state', String(4)),
    Column('act2007school', String(4)),
    Column('act2007district', String(4)),
    Column('act2007state', String(4)),
    Column('act2008school', String(4)),
    Column('act2008district', String(4)),
    Column('act2008state', String(4)),
    Column('act2009school', String(4)),
    Column('act2009district', String(4)),
    Column('act2009state', String(4)),
    Column('act2010school', String(4)),
    Column('act2010district', String(4)),
    Column('act2010state', String(4)),
    Column('act2011school', String(4)),
    Column('act2011district', String(4)),
    Column('act2011state', String(4)),
    Column('act2012school', String(4)),
    Column('act2012district', String(4)),
    Column('act2012state', String(4)),
    Column('act2013school', String(4)),
    Column('act2013district', String(4)),
    Column('act2013state', String(4)),
    Column('act2014school', String(4)),
    Column('actscore2014district', String(4)),
    Column('actscore2014state', String(4)),
    Column('grow2013schoolread', String(5)),
    Column('grow2013distread', String(5)),
    Column('grow2013stateread', String(5)),
    Column('grow2013schoolmath', String(5)),
    Column('grow2013distmath', String(5)),
    Column('grow2013statemath', String(5)),
    Column('grow2014schoolread', String(5)),
    Column('grow2014distread', String(5)),
    Column('grow2014stateread', String(5)),
    Column('grow2014schoolmath', String(5)),
    Column('grow2014distmath', String(5)),
    Column('grow2014statemath', String(5)),
    Column('lowinc2006', String(5)),
    Column('percmin2006', String(5)),
    Column('enroll2006', String(5)),
    Column('enrolldist2006', String(6)),
    Column('grades2006', String(33)),
    Column('zelemscore2006', String(5)),
    Column('avgelem2006', String(5)),
    Column('stdvelem2006', String(5)),
    Column('zhsscore2006', String(5)),
    Column('avghs2006', String(5)),
    Column('stdvhs2006', String(5)),
    Column('lowinc2007', String(5)),
    Column('percmin2007', String(5)),
    Column('enroll2007', String(5)),
    Column('enrolldist2007', String(6)),
    Column('grades2007', String(33)),
    Column('zelemscore2007', String(5)),
    Column('avgelem2007', String(5)),
    Column('stdvelem2007', String(5)),
    Column('zhsscore2007', String(5)),
    Column('avghs2007', String(5)),
    Column('stdvhs2007', String(5)),
    Column('lowinc2008', String(5)),
    Column('percmin2008', String(5)),
    Column('enroll2008', String(5)),
    Column('enrolldist2008', String(6)),
    Column('grades2008', String(33)),
    Column('zelemscore2008', String(5)),
    Column('avgelem2008', String(5)),
    Column('stdvelem2008', String(5)),
    Column('zhsscore2008', String(5)),
    Column('avghs2008', String(5)),
    Column('stdvhs2008', String(5)),
    Column('lowinc2009', String(5)),
    Column('percmin2009', String(5)),
    Column('enroll2009', String(5)),
    Column('enrolldist2009', String(6)),
    Column('grades2009', String(33)),
    Column('zelemscore2009', String(5)),
    Column('avgelem2009', String(5)),
    Column('stdvelem2009', String(5)),
    Column('zhsscore2009', String(5)),
    Column('avghs2009', String(5)),
    Column('stdvhs2009', String(5)),
    Column('lowinc2010', String(5)),
    Column('percmin2010', String(5)),
    Column('enroll2010', String(5)),
    Column('enrolldist2010', String(6)),
    Column('grades2010', String(33)),
    Column('zelemscore2010', String(5)),
    Column('avgelem2010', String(5)),
    Column('stdvelem2010', String(5)),
    Column('zhsscore2010', String(5)),
    Column('avghs2010', String(5)),
    Column('stdvhs2010', String(5)),
    Column('lowinc2011', String(5)),
    Column('percmin2011', String(5)),
    Column('enroll2011', String(5)),
    Column('enrolldist2011', String(6)),
    Column('grades2011', String(33)),
    Column('zelemscore2011', String(5)),
    Column('avgelem2011', String(5)),
    Column('stdvelem2011', String(5)),
    Column('zhsscore2011', String(5)),
    Column('avghs2011', String(5)),
    Column('stdvhs2011', String(5)),
    Column('lowinc2012', String(5)),
    Column('percmin2012', String(5)),
    Column('enroll2012', String(5)),
    Column('enrolldist2012', String(6)),
    Column('grades2012', String(33)),
    Column('zelemscore2012', String(5)),
    Column('avgelem2012', String(5)),
    Column('stdvelem2012', String(5)),
    Column('zhsscore2012', String(5)),
    Column('avghs2012', String(5)),
    Column('stdvhs2012', String(5)),
    Column('lowinc2013', String(5)),
    Column('percmin2013', String(5)),
    Column('enroll2013', String(5)),
    Column('enrolldist2013', String(6)),
    Column('grades2013', String(33)),
    Column('zelemscore2013', String(5)),
    Column('avgelem2013', String(5)),
    Column('stdvelem2013', String(5)),
    Column('zhsscore2013', String(5)),
    Column('avghs2013', String(5)),
    Column('stdvhs2013', String(5)),
    Column('lowinc2014', String(5)),
    Column('percmin2014', String(5)),
    Column('enroll2014', String(5)),
    Column('enrolldist2014', String(6)),
    Column('grades2014', String(33)),
    Column('zelemscore2014', String(5)),
    Column('avgelem2014', String(5)),
    Column('stdvelem2014', String(5)),
    Column('zhsscore2014', String(5)),
    Column('avghs2014', String(5)),
    Column('stdvhs2014', String(5)),
    Column('enroll2015', String(5)),
    Column('enrolldist2015', String(7)),
    Column('lowinc2015', String(5)),
    Column('act2015school', String(4)),
    Column('actscore2015district', String(4)),
    Column('actscore2015state', String(4)),
    Column('percmin2015', String(5)),
    mysql_engine='InnoDB')

con.execute("DROP TABLE IF EXISTS rc2015sch")
metadata.create_all(con)
print("created")

created

In [6]:
base.to_sql(name='rc2015sch', con=con, if_exists = 'append', index=False, index_label=None, chunksize=1000)
print('done')

done